<title>reg</title>
<script>
var data = sessionStorage.getItem('SESSION_ISLOGIN');
var register = sessionStorage.getItem('SESSION_REGISTERED');  
if(data === "true")
{

    $(location).attr('href', 'Dashboard')
}


</script>

<div id ="main">
<div id="first">
 <img id="logo" src="images/loading.gif"/>  
    <form action="reg" method="post">
        <h3>Creating Eye D</h3>
        <img id="divider" src="images/divider.png "/>
   
        <input type="text" id="username" name="username" placeholder="username" />
      <input type="password" id="password" name="password" placeholder="Password" />
                   <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" />




 <input type="submit" id = "authorizing">
   <a href="/home" >     <img id="login" src="images/login.png "/>   </a>
   

    </form>  


</div>
</div>